@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider
}
:root {
    --error-color: #dc3545;
}

.form-field.error input {
    border-color: var(--error-color);
    @apply focus:border-red-600 focus:ring-red-600 focus:outline-none focus:ring-1
}

.form-field.success input {
    @apply focus:border-sky-500 focus:ring-sky-500 focus:outline-none focus:ring-1 border-sky-500
}


.form-field small {
    color: var(--error-color);
}
.form-dynamique-border{
@apply border-t border-slate-300;
}